# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

In [2]:
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie_pandas = pd.DataFrame(data=(ano,anomalia)).transpose()
print(serie_pandas)

        0     1
0  1900.0 -0.08
1  1920.0 -0.27
2  1940.0  0.12
3  1960.0 -0.03
4  1980.0  0.26
5  2000.0  0.40
6  2020.0  1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
serie_pandas_index = pd.DataFrame(data=anomalia, index=ano, columns=['Anomalia'])
serie_pandas_index

      Anomalia
1900     -0.08
1920     -0.27
1940      0.12
1960     -0.03
1980      0.26
2000      0.40
2020      1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
dic_temperaturas_serie = pd.Series(dic_temperaturas)
dic_temperaturas_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

arr_data_frame = pd.DataFrame(arr)
arr_data_frame

             0           1           2
0   100.718682   96.522517   99.909152
1   100.429964   91.186772  101.610840
2   105.820227  113.688721  103.736389
3    96.977795   93.371388  115.714357
4    94.771619   94.053452  100.696671
5   112.981711  101.471142  105.538891
6   107.121925  107.655863  101.241322
7    93.245277   93.335378   97.618808
8    95.506168  104.696829   91.875956
9   115.236798  100.266288   94.129229
10   90.702227  111.815301   96.008092
11  109.536961  103.063710  107.849225
12   90.779497  128.406110  106.831415
13   75.677575  109.475449  115.186189
14  106.390510  119.581348  109.693712
15  107.240538   97.059514  117.646717
16   89.676506   98.912341  101.910775
17  110.837404   99.787541  103.162308
18   87.679105   94.564888  101.032358
19   95.536280  114.406524   90.912260

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
tamanho = len(arr_data_frame)
arr_data_frame_index = pd.DataFrame(arr, index=range(tamanho), columns=['x1', 'x2', 'x3'])
arr_data_frame_index

            x1          x2          x3
0   100.718682   96.522517   99.909152
1   100.429964   91.186772  101.610840
2   105.820227  113.688721  103.736389
3    96.977795   93.371388  115.714357
4    94.771619   94.053452  100.696671
5   112.981711  101.471142  105.538891
6   107.121925  107.655863  101.241322
7    93.245277   93.335378   97.618808
8    95.506168  104.696829   91.875956
9   115.236798  100.266288   94.129229
10   90.702227  111.815301   96.008092
11  109.536961  103.063710  107.849225
12   90.779497  128.406110  106.831415
13   75.677575  109.475449  115.186189
14  106.390510  119.581348  109.693712
15  107.240538   97.059514  117.646717
16   89.676506   98.912341  101.910775
17  110.837404   99.787541  103.162308
18   87.679105   94.564888  101.032358
19   95.536280  114.406524   90.912260

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
arr_data_frame_index['media'] = (arr_data_frame_index['x1']+arr_data_frame_index['x2']+arr_data_frame_index['x3'])/3
arr_data_frame_index

            x1          x2          x3       media
0   100.718682   96.522517   99.909152   99.050117
1   100.429964   91.186772  101.610840   97.742526
2   105.820227  113.688721  103.736389  107.748446
3    96.977795   93.371388  115.714357  102.021180
4    94.771619   94.053452  100.696671   96.507248
5   112.981711  101.471142  105.538891  106.663915
6   107.121925  107.655863  101.241322  105.339703
7    93.245277   93.335378   97.618808   94.733154
8    95.506168  104.696829   91.875956   97.359651
9   115.236798  100.266288   94.129229  103.210772
10   90.702227  111.815301   96.008092   99.508540
11  109.536961  103.063710  107.849225  106.816632
12   90.779497  128.406110  106.831415  108.672341
13   75.677575  109.475449  115.186189  100.113071
14  106.390510  119.581348  109.693712  111.888523
15  107.240538   97.059514  117.646717  107.315590
16   89.676506   98.912341  101.910775   96.833207
17  110.837404   99.787541  103.162308  104.595751
18   87.679105   94.564888  101.032358   94.425450
19   95.536280  114.406524   90.912260  100.285021

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
# Calculando o log com uma função do Numpy
arr_data_frame_index['log_med'] = np.log(arr_data_frame_index['media'])
arr_data_frame_index

            x1          x2          x3       media   log_med
0   100.718682   96.522517   99.909152   99.050117  4.595626
1   100.429964   91.186772  101.610840   97.742526  4.582337
2   105.820227  113.688721  103.736389  107.748446  4.679799
3    96.977795   93.371388  115.714357  102.021180  4.625180
4    94.771619   94.053452  100.696671   96.507248  4.569618
5   112.981711  101.471142  105.538891  106.663915  4.669683
6   107.121925  107.655863  101.241322  105.339703  4.657190
7    93.245277   93.335378   97.618808   94.733154  4.551064
8    95.506168  104.696829   91.875956   97.359651  4.578412
9   115.236798  100.266288   94.129229  103.210772  4.636773
10   90.702227  111.815301   96.008092   99.508540  4.600243
11  109.536961  103.063710  107.849225  106.816632  4.671114
12   90.779497  128.406110  106.831415  108.672341  4.688337
13   75.677575  109.475449  115.186189  100.113071  4.606300
14  106.390510  119.581348  109.693712  111.888523  4.717503
15  107.240538   97.059514  117.646717  107.315590  4.675774
16   89.676506   98.912341  101.910775   96.833207  4.572990
17  110.837404   99.787541  103.162308  104.595751  4.650103
18   87.679105   94.564888  101.032358   94.425450  4.547811
19   95.536280  114.406524   90.912260  100.285021  4.608016